<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <link href="~/Content/photobox.css" rel="stylesheet" type="text/css">

    <link href="~/Content/bootstrap.min.css?v=@System.DateTime.Now.Millisecond" rel="stylesheet" type="text/css" />

    <link rel='stylesheet' href='~/Content/styleBlocksit.css?v=@System.DateTime.Now.Millisecond' media='screen' />
    <link href="~/Content/Site.css?v=@System.DateTime.Now.Millisecond" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src='~/Scripts/jquery-1.9.1.min.js'></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.photobox.js?v=@System.DateTime.Now.Millisecond"></script>
    <script src="~/Scripts/blocksit.min.js"></script>
    <script  type="text/javascript" src="~/Scripts/jquery.loupe.min.js"></script>
    <script defer src='~/Scripts/script.js?v=@System.DateTime.Now.Millisecond'></script>

</head>
<body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Gallery</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/Index">Main</a></li>

                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="/Home/SearchPicture" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="words">
                        </div>
                        <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Ссылка</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Действие</a></li>
                <li><a href="#">Другое действие</a></li>
                <li><a href="#">Что-то еще</a></li>
                <li class="divider"></li>
                <li><a href="#">Отдельная ссылка</a></li>
            </ul>
        </li>
    </ul>-->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <hr/>
        <div >
            <div class="myContent row">
                <div class="col-md-2 col-sm-2 col-lg-2">
                    @{Html.RenderPartial("Toolbar");}
                </div>
                <div class="main col-md-10 col-sm-10 col-lg-10">
                    <div class="reg">
                        @{Html.RenderPartial("PartialRegistration");}
                    </div>
                    @RenderBody()
                    <hr />
                </div>


            </div>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Gallery</p>
                </footer>
            </div>
        
</body>
</html>